#Core Framework
langchain
langgraph
httpx

#LLM Provider
openai
langchain-openai

#MCP Server
langchain-mcp-adapters

#Tools/APIs
googlemaps

#Web/API server
fastapi
uvicorn[standard]

#Utilities
python-dotenv   
requests       
pydantic      

#Testing
pytest
pytest-asyncio